@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out
}

.page-enter, .page-leave-to {
  transform: scale(0.95);
  opacity: 0
}

body {
   @apply bg-background w-screen h-screen antialiased flex flex-col justify-center text-white;
}

.phb__social {
  width: 24px;
  height: 24px
}

.phb__social:hover {
  fill: white
}

a {
   @apply text-gray-500 fill-gray-500 hover:underline
}

hr {
  border-color: rgb(104 104 104 / 23%);
  width: 16rem;
  margin-block: 1rem
}

:root {
  color-scheme: dark;
}