@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out
}

.page-enter, .page-leave-to {
  transform: scale(0.95);
  opacity: 0
}

body {
  @apply w-screen h-screen antialiased flex flex-col justify-center text-white;
  position: relative;
  border-radius: 40px;
  background-color: #000;
  background-image: radial-gradient(at top left, #171316, #251e3c42),
    radial-gradient(at top right, #0a104e, #331518),
    radial-gradient(at bottom left, #7d4343, #182f42);
  background-size: 100% 100%;
  background-repeat: no-repeat
}

a {
   @apply text-gray-500 hover:underline
}
