@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
   color-scheme: dark
}

body {
   @apply bg-midnight-100 text-white w-screen h-screen
}

span.waveAnim {
   animation: waveEffect infinite normal 1s;
   animation-timing-function: steps(1, end)
}

@keyframes waveEffect {
   0% {
      opacity: 0
   }
   50% {
      opacity: 1
   }
}

div.phb__console-details {
   text-shadow: 0px 0px 10px currentColor
}