:root {
   color-scheme: dark
}

body {
   @apply bg-midnight-150 text-white w-screen h-screen overflow-x-hidden
}

a {
   @apply text-midnight-500
}

a:hover {
   @apply text-midnight-1000 underline
}

a.nuxt-link-exact-active {
   @apply text-midnight-800 !important
}

.z-\[-1\] {
   z-index: -1
}

@keyframes slide {
   0% {
      transform: translateY(-20px);
      opacity: 0
   }
   100% {
      transform: translateY(0px);
      opacity: 1
   }
}