:root {
   color-scheme: dark
}

body {
   @apply bg-midnight-150 text-white w-screen h-screen overflow-x-hidden
}

span.waveAnim {
   animation: waveEffect infinite normal 1s;
   animation-timing-function: steps(1, end)
}

@keyframes waveEffect {
   0% {
      opacity: 0
   }
   50% {
      opacity: 1
   }
}

div.axhl__console-details {
   text-shadow: 0px 0px 10px currentColor
}

#015__topbar {
   border-bottom: 1px solid white
}

a {
   @apply text-midnight-500
}

a:hover {
   @apply text-midnight-600 underline
}

.pt-\[32rem\] {
   padding-top: 32rem
}

.axhl__work-container {
   @apply border-b lg:border-b-0 lg:border-r border-midnight-300
}

.axhl__work-container:last-child {
   border: none
}